.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    max-height: 876px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
}


.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
}

.inputArea {
    display: grid;
    grid-template-columns: 220px 1fr
}

.formGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
}

.label {
    grid-column: 1;
    grid-row: 1; 
    margin-right: 20px; 
    font-weight: 400;
    font-size: 21px;
}

.input,
.select {
    grid-column: 2;
    grid-row: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    max-width: 336px;
    max-height: 45px;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 12px;
    grid-column: 2;
    grid-row: 2; 
}

.required {
    color: red;
}

.buttonArea {
    display: flex;
    row-gap: 15px;
}

.button {
    padding: 10px 15px;
    background-color: #71C838;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 120px;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.checkboxGroup {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkboxGroup input {
    margin-right: 10px;
}

.hl {
    border-bottom: 1px solid #E5E4E4;
    padding-bottom: 40px;
}

